.Calculator {
  background-color: antiquewhite;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20rem;
}

.Col {
  display: flex;
  flex-direction: column;
}

.Display {
  background-color: white;
  width: 20rem;
  line-height: 2rem;
  border: 1px solid #000;
  padding: 5px;
  text-align: end;
  font-size: x-large;
  margin: 10px;
}

button {
  margin: 10px 0px;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border-style: solid;
  border-color: gray;
  background-color: #c0c0c0;
  font-size: larger;
  padding: 5px;
}

button:hover {
  background-color: #a0a0a0;
}